@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scoreBox {
  position: absolute;
  top: 9px;
  right: 200px;
  font-size: 30px;
  font-weight: bold;
  /* font-family: 'New Tegomin', serif; */
}

#hiscoreBox {
  position: absolute;
  top: 59px;
  right: 140px;
  font-size: 30px;
  font-weight: bold;
  /* font-family: 'New Tegomin', serif; */
}

#board {
  background-color: #ddffaa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23AE9' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
  width: 90vmin;
  height: 92vmin;
  border: 2px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
}

.head {
  background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
  border: 2px solid rgb(34, 4, 34);
  transform: scale(1.02);
  border-radius: 9px;
}

.snake {
  background-color: purple;
  border: 0.25vmin solid white;
  border-radius: 12px;
}

.food {
  background: linear-gradient(red, purple);
  border: 0.25vmin solid black;
  border-radius: 8px;
}
